<style>
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

chad { <!-- internal chad word -->
color: #9900ff;
}

ref { <!-- reference number -->
color: #ff6600;
}

com { <!-- comment -->
color: #339966;
font-style: italic;
}

tok {
font-weight: bold;
font-family: monospace;
background-color: #dddddd;
}

p {  
  text-indent: 1.0em;  
}  

</style>

.forth {
  font-weight: bold;
  font-family: monospace;
}
